body {
    margin: 0px;
    padding: 10px;

    display: flex;
    flex-direction: row;
}
#yemek  a{
    color: rgb(247, 247, 247);
    text-decoration: none;
    border-radius: 5px;
 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#yemek {
    background-color: rgb(8, 126, 222);
    width: 150px;
    height: 30px;
    margin-bottom:5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
div i {
    margin-right: 5px;
}
#yemek:hover , .learn:hover {
    background-color: black;
    transition: 1000ms;
    transform: scale(1.1);
}

.container1, .container2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.learn {
    background-color: rgb(70, 22, 148);
    width: 150px;
    height: 30px;
    margin-bottom:5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.learn a{
    color: rgb(247, 247, 247);
    text-decoration: none;
    border-radius: 5px;
 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}